/* Forms
 ========================================================================== */
label {
	display: block;
}

label + input,
label + textarea {
	margin-top: 4px;
}


/* Buttons
 ========================================================================== */
 .btn{
	padding: 16px 32px;
	display: inline-block;
	background: $c1;
	border:0;
	border-radius: 32px;
	color:#fff;
	font-weight: bold;
	line-height: 1.25;
	&:hover{
		background: lighten($c1, 10%);
	}
	&.btn--white{
		background: #fff;
		border: 1px solid $c1;
		color:#000;
		&:hover{
			background: darken(#fff, 10%);
		}
	}
 }

