/* Variables
 ========================================================================== */

$c1: #fe3048;
$c2: #000;
$c3: #eee;

$max-width: 1128px;
$max-width_m: 744px;


$break-small: 30em;
$break-mid: 40em;
$break-large: 60em;

$pad: 16px;
$block_pad:96px;
$block_pad_m: 64px;

$transition: .35s all cubic-bezier(.455,.03,.515,.955);
