.main{
  img{
    width: 100%;
  }
}
img {
	max-width: 100%;
	height: auto;
}
.alignleft {
	display: block;

	@include bp-medium{
		float: left;
		margin: 9px 1rem 5px 0;
	}
}
.alignright {
	display: block;
	@include bp-medium{
			float: right;
			margin: 9px 0 5px 1rem;
	}
}
.aligncenter {
	display: block;

	@include bp-medium{
		margin: 0 auto;
		clear: both;
	}
}
