vendor
.env
composer.lock
node_modules

public_html/site/plugins/
public_html/site/mu-plugins/*
public_html/site/uploads
public_html/wp
public_html/theme/assets/dist

!public_html/site/mu-plugins/bedrock-autoloader.php
