<div class="cookie" id="cookie-message" data-cookie-expiry="60">
	<div class="wrap">
		<span>
			{{options.cookie_massgae}}
		</span>
	<button class="btn">{{options.cookie_button_text}}</button>	
	</div>
</div>