.cookie {
    display: none;
    position: fixed;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    background: $c2;
    color:#fff;
    bottom: 0;
    z-index: 99;
    left: 0;
    right: 0;
    a{
    	text-decoration: underline;
    }
    .wrap{
    	@extend %max_w;
    }
    button{
		float: right;
    }
    span{
    	line-height: 36px;
		display: inline-block;
		max-width: 80%;
    }

}