.bp-block.bp-hero-slider{
	padding: 0;
    .swiper-slide{
        @extend %bg_cover;
        height: 200px;
        display: block;
        @include bp-medium{
            height: 480px;
        }
    }
    .desc{
        max-width: 75%;
        margin: 0 auto;
        padding: var(--pad);
        box-sizing: border-box;
        text-align: center;
        @include bp-medium{
            max-width: 100%;
            padding: var(--pad1) var(--pad2);
        }
    }
}

/* Slider buttons */
:root{
	--swiper-theme-color: var(--c1)!important;
}
