.bp-block.bp-textimage{
	.wrapper{
		overflow: hidden;
		padding: 0;
	}
	padding: 0;
	&.add-padding{
		@extend %block-pad;
	}
	.itb-text{
		padding: var(--pad) var(--pad1) var(--pad1);
		@include bp-medium{
			padding: var(--pad3) var(--pad2);
		}
	}
	.itb-image{
		min-height: 200px;
		//margin-top: var(--pad2);
		@extend %bg_cover;
		@include bp-medium{
			min-height: 0;
			margin: 0;
		}
	}
	.image-on-left{
		.itb-text{
			order:-1;
			@include bp-medium{
				padding: var(--pad3) var(--pad2);
			}
		}
	}
	img{
		display: block;
	}
	.btn{
		margin-top: 32px;
	}
}
