.bp-testimonials{
	@extend %block-pad;
	text-align: center;
	img{
		width: 64px;
		border-radius: 50%;
		//vertical-align: middle;
		margin-right: 24px;
	}
	.desc{
		width: 444px;
		margin: 0 auto;
		margin-bottom: 48px;
	}
	.person-info{
		.name{
			display: inline-block;
			color: var(--c1);
			span{
				display: block;
				font-size: 14px;
				color: var(--text_color);
			}
		}
	}
	.tcard{
		background-color: var(--bg11);
		padding: 32px;
		text-align: left;
	}
	.testimonial{
		margin-top: 32px;
	}
}
