<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Blocks temp</title>
	<style>
		body.html{
			height: 100%
		}
	</style>
	<link rel="stylesheet" href=" <%= htmlWebpackPlugin.files.chunks.css.css %>">
</head>
<body class="v-center">

	<div class="wrapper ">
		<h1>Lorem ipsum dolor sit amet</h1>
		<h2>Consectetur adipisicing elit</h2>
		<h3>Labore explicabo adipisci</h3>
		<h4>perspiciatis quis modi iusto</h4>
		<h5>magnam maiores voluptates doloremque</h5>
		<h6>Tempora cupiditate incidunt</h6>
		<br />
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque enim itaque illo, deleniti, optio, nesciunt facilis blanditiis dolor unde minima sequi laboriosam eaque beatae natus architecto nemo aperiam quo neque!</p>
		<br />
		<a href="#" class="btn">Button</a>

		<br />
		<div class="wrapper-m bg-color-1 block-pad">
			Lorem ipsum dolor sit amet
		</div>
		<div class="wrapper-m bg-color-2 block-pad">
			Lorem ipsum dolor sit amet
		</div>
		<div class="wrapper-m bg-color-3 block-pad">
			Lorem ipsum dolor sit amet
		</div>
	</div>
</body>

<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"/>
</html>
