{% extends 'layout/base.twig' %}

{% block head %}
	{% if post.thumbnail %}
		<meta property="og:image" content="{{post.thumbnail}}" />
	{% endif %}
{% endblock %}

{% block content %}
	
	<div class="wrapper">
		<section class="grid--auto-c">
			{% for post in all_posts %}
				<a href="{{ post.link }}">
					{% if post.thumbnail %}
						<img class="lazyload" {{post.thumbnail|get_timber_image_responsive('body')|lazy }}>
					{% endif %}
					{{ post.post_title }}
				</a>
			{% endfor %}
		</section>
	</div>	

{% endblock %}

