.grid{
	display: grid;
	grid-gap: 24px;
	&.grid--2{
		grid-template-columns: 1fr;
		@include bp-medium{
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&.grid--no-gap{
		grid-gap: 24px;
		@include bp-max{
			grid-gap: 0;
		}
	}
}
.grid--auto-c{
		display:block;
		@include bp-medium{
			display: flex;
		}
		& > * {
			flex: 1;
			margin-top: 24px;
			@include bp-medium{
				margin-top: 0;
			}
		}
	}