<div class="text-block"> 
	<div class="wrapper{% if small_box %} small-box{% endif %}">
			<h3>{{text_headline}}</h3>
			<div class="desc">{{text_body_text}}</div>
			{% if text_link_text %}
				<a href="{{text_link}}" class="btn">{{text_link_text}}</a>
			{% endif %}
	</div>
</div>
